body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--fluid {
    max-width: 1800px;
  }
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  color: $grey-950;
  text-align: center;
}

.more-link {
  display: inline-block;
  padding: 17px 20px;
  @extend %rubik-500;
  font-size: 15px;
  color: #fff;
  background-color: $blue-100;
  border: 1px solid $blue-100;
  transition: all 0.5s;

  svg {
    margin-left: 60px;
    fill: #fff;
    transition: all 0.5s;
  }

  &:hover {
    background-color: $blue-200;
    border: 1px solid $blue-200;
  }

  &:active,
  &:focus {
    background-color: transparent;
    border: 1px solid #fff;
  }

  &--outline {
    padding: 17px 20px 17px 20px;
    background-color: transparent;
    border: 1px solid $blue-200;
    border-radius: 5px;
    color: $blue-200;

    svg {
      margin-left: 40px;
      fill: $blue-200;
    }

    &:hover {
      color: #fff;

      svg {
        fill: #fff;
      }
    }
  }
}

.filter {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 18px;
  }

  &__btn {
    @extend %dmsans-700;
    font-size: 16px;
    color: $grey-250;
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
      color: $grey-900;
    }
  }

  .mixitup-control-active {
    color: $grey-900;
  }
}