body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--fluid {
    max-width: 1800px;
  }
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  color: #191919;
  text-align: center;
}

.more-link {
  display: inline-block;
  padding: 16px 98px 16px 26px;
  @extend %rubik-500;
  font-size: 15px;
  color: #fff;
  background-color: $blue-100;
  border: 2px solid $blue-100;
  background-image: url(../images/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center right 18px;
  transition: all 0.5s;

  &:hover {
    background-color: $blue-200;
    border: 2px solid $blue-200;
  }

  &:active,
  &:focus {
    background-color: transparent;
    border: 2px solid #fff;
  }
}

.filter {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 18px;
  }

  &__btn {
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
      color: #1a1a1a;
    }
  }

  .mixitup-control-active {
    color: #1a1a1a;
  }
}