body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $blue-200;
  letter-spacing: normal;
  background-color: #fff;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.lock-scroll {
  overflow:hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--fluid {
    max-width: 1800px;
  }
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  color: $grey-950;
  text-align: center;

  @media (max-width: $screen-sm) {
    font-size: 32px;
  }

  @media (max-width: $screen-xs) {
    font-size: 26px;
  }
}

.more-link {
  min-width: 200px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 20px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  fill: #fff;
  background-color: $blue-100;
  border: 1px solid $blue-100;
  transition: all 0.5s;

  @media (max-width: $screen-xs) {
    min-width: 140px;
    padding: 12px;
  }
 
  &:hover {
    background-color: $blue-200;
    border: 1px solid $blue-200;
  }

  &:active {
    background-color: $blue-100;
    border: 1px solid $blue-200;
    color: $blue-200;
    fill: $blue-200;
  }

  &:focus {
    background-color: transparent;
    border: 1px solid #fff;
  }

  &--outline {
    min-width: 180px;
    padding: 17px 20px;
    background-color: transparent;
    border: 1px solid $blue-200;
    border-radius: 5px;
    color: $blue-200;
    fill: $blue-200;

    @media (max-width: $screen-xs) {
      min-width: 140px;
      padding: 12px;
    }    

    &:hover {
      color: #fff;
      fill: #fff;
    }

    &:focus {
      color: #fff;
      fill: #fff;
    }
  }
}

.filter {
  display: flex;
  justify-content: center;

  @media (max-width: $screen-xs) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__item:not(:last-child) {
    margin-right: 18px;

    @media (max-width: $screen-xs) {
      margin-right: 5px;
    }
  }

  &__btn {
    @extend %dmsans-700;
    color: $grey-250;
    transition: color 0.5s;

    &:hover {
      color: $grey-900;
    }
  }

  .mixitup-control-active {
    color: $grey-900;
  }
}