@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0 40px;
	

  &__inner {
    display: flex;
    justify-content: space-between;
		align-items: center;
  }
}

.menu {	
  &__list {
		display: flex;
		margin-left: 14%;
	}

	&__item:not(:last-child) {
		margin-right: 35px;
	}

	&__link {
		@extend %rubik-500;
		font-size: 15px;
		color: $blue;
    transition: color 0.5s; 

    &:hover {
      color: $accent;
    }
	}
}

.user-nav {
	display: flex;

	&__search, 
	&__menu-btn {
		width: 52px;
		height: 52px;
		border-radius: 50%;
		@extend %bg-center;
		cursor: pointer;
		transition: background-color 0.5s; 
	}

	&__search {
		background-color: rgba($light-blue, 0.2);
		background-image: url(../images/icons/search.svg);
		margin-right: 18px;

    &:hover {
      background-color: rgba($accent, 0.2);
    }
	}

	&__box {
		width: 178px;
		background-color: $accent;
		border-radius: 50px;
		text-align: center;
		margin-right: 18px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 1px;
			height: 32px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
			opacity: 0.4;
		}
	}

	&__link {
		display: inline-block;
		padding: 18px 23px 10px;
		position: relative;
		transition: all 0.5s;
			&:hover {
			transform: scale(1.3);
			svg {
				fill: #fff;
			}
		}
	}

	&__num {
		position: absolute;    
  	width: 16px;
  	height: 16px;
		right: 12px;
		top: 10px;
  	@extend %dmsans-400;
  	font-size: 10px;
  	line-height: 16px;
  	color: $darkblue;
  	text-align: center;
  	background-color: #fff;
  	border-radius: 50%;
	}

	&__menu-btn {
		background-color: $light-blue;
		background-image: url(../images/icons/menu.svg);

    &:hover {
      background-color: $blue;
    }
	}
}


//---------------- main-slider -----------------//
.main-slider {
	&__inner {
		background-color: $accent;
		padding: 102px 0 48px;
	}	

	&__item {
		display: flex !important;
		justify-content: center;
		align-items: center;
		min-height: 635px;
	}

	&__content {
		max-width: 430px;
		margin-right: 90px;
		padding-bottom: 95px;
	}

	&__title {		
		@extend %rubik-500;
		font-size: 72px;
		line-height: 1.06;
		color: $darkblue;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	&__descr {
		max-width: 380px;
		@extend %rubik-400;
		font-size: 18px;
		line-height: 1.6;
		color: $blue;
		margin-bottom: 35px;
	}

	&__btn {
		display: inline-block;
		padding: 21px 101px 21px 27px;
		@extend %rubik-500;
		font-size: 15px;
		color: #fff;
		background-color: $light-blue;
    background-image: url(../images/icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center right 18px;
    transition: background-color 0.5s;

    &:hover {
      background-color: $blue;
    }              
	}

	&__picture {
		max-width: 640px;
		max-height: 264px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			width: 634px;
			height: 634px;
			top: 50%;
			left: 20%;
			border-radius: 50%;
			background-image: linear-gradient(-90.0deg, #ffffff 0%, rgba(255,255,255,0.0) 100%);
			transform: translateY(-50%);
		}
	}

	&__image {
		position: relative;
		z-index: 1;
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		li {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}

			button {
				font-size: 11px;
        @extend %rubik-500;
        color: $darkblue;
        width: 30px;
        height: 29px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        outline: transparent;
        cursor: pointer;
				transition: background-color 0.3s;
				&:hover {
					background-color: #fff;
				}
			}

			&.slick-active {
				background-color: #fff;
				border-radius: 50%;
			}
		}
	}
}

.features {	
	display: flex;
	background-color: rgba($accent, 0.2);

	&__item {
		width: 33.33%;
		padding: 48px 0;
		display: flex;
		justify-content: center;

		&:not(:last-child) {
			border-right: 1px solid #e8e4df;
		}
	}

	&__content {
		max-width: 295px;
		padding-left: 90px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 53px;
			height: 55px;
			left: 0;
 			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	&__content--support::before {
		background-image: url(../images/features/support.svg);
	}

	&__content--delivery::before {
		background-image: url(../images/features/delivery.svg);
	}

	&__content--payment::before {
		background-image: url(../images/features/payment.svg);
	}

	&__name {
		display: block;
		@extend %dmsans-700;
		font-size: 18px;
		color: #414141;
		margin-bottom: 10px;		
	}

	&__descr {
		@extend %dmsans-400;
		font-size: 16px;
		line-height: 1.4;	
		color: #585858;
	}	
}

//---------------- products of the week -----------------//
.products {
	padding: 75px 0;

	&__title {
		text-align: center;
		margin-bottom: 22px;
	}

	&__filter {
		margin-bottom: 80px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 40px;
	}

	&__card {
		padding: 25px 25px 38px;
		max-width: 270px;
		text-align: center;
		font-size: 16px;
		background-color: #ffffff;
		box-shadow: 0px 6px 47px 3px rgba(37,37,37,0.05);
		border-radius: 10px;
		margin-bottom: 40px;

		&:hover {
			.products__actions {
				transform: translateY(-55px);
				opacity: 1;
			}
		} 
	}

	&__img {
    width: 200px;
		height: 190px;
		object-fit: contain; 
	}

	&__actions {
		padding: 14px 0;
		display: flex;
		justify-content: center;
		opacity: 0;
		transition: all 0.5s;
	}

	&__actions-item:not(:last-child) {
		margin-right: 10px;
	}

	&__actions-btn {
		width: 45px;
		height: 45px;
		padding: 12px 0;
		background-color: #ffffff;
		border-radius: 50%;
		box-shadow: 0px 6px 47px 3px rgba(37,37,37,0.05);
		cursor: pointer;
		transition: all 0.5s;
		&:hover {
			background-color: $light-blue;
			svg {
				fill: #fff;
			}
		}		
	}

	&__name {
		display: block;
		@extend %dmsans-500;
		color: $darkblue;
		margin-bottom: 10px;
		transition: color 0.5s;
		&:hover {
			color: $accent;
		}				
	}

	&__price {
		@extend %dmsans-700;
		color: $light-blue;
	}

}

//---------------- footer -----------------//
.footer {
	padding: 80px 0 40px;
	@extend %rubik-400;
	font-size: 14px;
	line-height: 1.6;
	color: #7b7b7b;

	&__top {
		display: flex;
    flex-wrap: wrap;
		padding-bottom: 80px;
	}

	&__item--contacts {
		max-width: 205px;		
		margin-right: 8%;
	}

	&__item--nav {
		max-width: 130px;		
		margin-right: 15%;
	}

	&__item--form {
		max-width: 280px;
	}	

  &__logo {
    display: block;
    margin-bottom: 25px;
  }

  &__contacts-item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__contacts-descr {
    text-transform: uppercase;
  }

  &__contacts-value {
    font-style: normal;
  }

	&__contacts-link {
		transition: color 0.5s;
		&:hover {
			color: $accent;
		}
	}

	&__title {
    @extend %dmsans-700;
    font-size: 16px;
    text-transform: uppercase;
    color: #1f2044;
    margin-bottom: 20px;
	}

  &__menu-item:not(:last-child) {
    margin-bottom: 10px;
  }

	&__menu-link {
		@extend %rubik-400;
		transition: color 0.5s;

		&:hover {
			color: $light-blue;
		}
	}

	&__text {
		margin-bottom: 35px;
	}
  
	&__bottom {
		display: flex;
		justify-content: space-between;
		padding-top: 35px;
		border-top: 1px solid #dae4e9;
	}

	&__nav {
		display: flex;
	}

	&__nav-item:not(:last-child) {
		border-right: 1px solid #7b7b7b;
	}

	&__nav-link {
		padding: 0 14px;
		transition: color 0.5s;
		&:hover {
			color: $accent;
		}
	}
}

.subscribe-form {
  @extend %dmsans-400;

  &__input {
    border: none;
    padding: 9px 6px 9px 16px;
    background-color: rgba($accent, 0.2);
		border: 1px solid #fef7f0;
		margin-right: -4px;
    outline: transparent;
		transition: all 0.5s;

    &::placeholder {      
      font-size: 12px;
      color: #234969;
    }

		&:focus {
			background-color: #fff;
			border: 1px solid $light-blue;
		}
  }

  &__button {
    border: none;
    padding: 10px 19px 10px 16px;
    color: #fff;
    font-size: 14px;
    background-color: $light-blue;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: $blue;
    }
  }
}

@import 'media';