.breadcrumbs {
  padding: 32px 0;
  background-color: $blue-50;
  text-align: center;

  @media (max-width: $screen-xs) {
    padding: 32px 0 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    color: $blue-150;
    font-size: 14px;

    @media (max-width: $screen-xs) {
      font-size: 18px;
    }

    &:not(:last-child) {
      &::after {
        content: "/";
      }
    }

    &:last-child {
      color: $blue-600;
    }
  }

  &__link {
    padding: 0 8px;
    transition: color 0.5s;

    @media (max-width: $screen-xs) {
      padding: 0 10px 10px;
    }

    &:hover {
      color: $grey-950;
    }

    &:active {
      color: $blue-600;
    }

    &:focus {
      color: $blue-300;
    }
  }
}