.breadcrumbs {
  padding: 32px 0;
  background-color: $blue-50;
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    color: $blue-150;
    font-size: 14px;

    &:not(:last-child) {
      &::after {
        content: "/";
      }
    }
  }

  &__link {
    padding: 0 8px;
    color: $blue-150;
    transition: color 0.5s;

    &:hover {
      color: $grey-950;
    }

    &:active {
      color: $blue-300;
    }

    &:focus {
      color: $blue-600;
    }
  }
}