.header {
  padding: 50px 0 40px;

  @media (max-width: $screen-xl) {
    padding: 30px 0;
  }

  @media (max-width: $screen-xs) {
    padding: 20px 0;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    @media (max-width: $screen-lg) {
      position: fixed;
      flex-direction: column;
      margin: 0;
      right: 0;
      top: 0;
      width: 50%;
      height: 100vh;
      background-color: $blue-50;
      z-index: 99;
      padding: 150px 40px 0;
      box-shadow: 0px 5px 10px 2px rgba($blue-600, 0.3);
      transform: translateX(200%);
      transition: transform 0.5s;

      &--active {
        transform: translateX(0);
      }
    }

    @media (max-width: $screen-sm) {
      padding-top: 200px;
      width: 60%;
    }

    @media (max-width: $screen-xs) {
      width: 100%;
    }
  }
}

.menu {
  display: flex;
  margin-left: 14%;

  @media (max-width: $screen-sm) {
    margin: 0;
  }

  &__item:not(:last-child) {
    margin-right: 35px;

    @media (max-width: $screen-lg) {
      margin-right: 0;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 15px;
    color: $blue-200;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;

    @media (max-width: $screen-lg) {
      display: block;
      text-align: right;
      font-size: 20px;
      padding: 10px 0;
    }

    &:hover {
      color: $accent;
      border-bottom: 2px solid $accent;
    }

    &:active {
      color: $accent;
    }

    &:focus {
      color: $blue-100;
    }
  }
}

.menu-btn {
  z-index: 99;
  display: none;
  background-image: url(../images/icons/menu-icon.svg);
  width: 50px;
  height: 50px;

  &--close {
    background-image: url(../images/icons/cross.svg);
  }

  @media (max-width: $screen-lg) {
    display: block;
  }
}

.user-nav {
  display: flex;

  @media (max-width: $screen-lg) {
    position: absolute;
    right: 90px;
    top: 30px;
  }

  @media (max-width: $screen-sm) {
    position: fixed;
    transform: translateX(200%);
    right: 20px;
    top: 120px;
    z-index: 99;
    transition: transform 0.5s;

    &--open {
      transform: translateX(0);
    }
  }

  &__search,
  &__menu-btn {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    @extend %bg-center;
    transition: box-shadow 0.5s;
  }

  &__search {
    background-color: rgba($blue-100, 0.2);
    background-image: url(../images/icons/search.svg);
    margin-right: 18px;

    @media (max-width: $screen-sm) {
      margin-right: 8px;
    }

    &:hover {
      box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.4);
    }

    &:active {
      background-color: $grey-150;
      box-shadow: 0px 0px 0px 1px rgba($blue-600, 0.3);
    }

    &:focus {
      background-color: $blue-100;
    }
  }

  &__box {
    width: 178px;
    background-color: $accent;
    border-radius: 50px;
    text-align: center;
    margin-right: 18px;
    position: relative;

    @media (max-width: $screen-sm) {
      width: 140px;
      margin-right: 8px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 32px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      opacity: 0.4;
    }
  }

  &__link {
    display: inline-block;
    padding: 18px 23px 10px;
    border-radius: 50px;
    fill: $blue-400;
    position: relative;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.3);
      fill: #fff;
    }

    &:active {
      fill: rgba($red-600, 0.6);
    }

    &:focus {
      fill: rgba($red-600, 0.6);
      box-shadow: 0px 0px 0px 1px rgba($red-600, 0.6);
    }
  }

  &__num {
    position: absolute;
    min-width: 16px;
    min-height: 16px;
    right: 12px;
    top: 10px;
    padding: 0 4px;
    font-family: 'DMSans', sans-serif;
    font-size: 10px;
    color: $blue-400;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
  }

  &__menu-btn {
    background-color: $blue-100;
    background-image: url(../images/icons/menu.svg);

    &:hover {
      box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.4);
    }

    &:active {
      background-color: $blue-200;
    }

    &:focus {
      background-color: $blue-50;
      box-shadow: 0px 0px 0px 1px rgba($blue-600, 0.3);
    }
  }
}