.novation {
  padding: 100px 0;

  &__title {
    margin-bottom: 15px;
  }

  &__filter {
    margin-bottom: 65px;

    @media (max-width: $screen-xs) {
      margin-bottom: 50px;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;

    @media (max-width: $screen-lg) {
      justify-content: center;
    }
  }
}

.novation-card {
  width: 370px;
  min-height: 246px;
  background-color: $grey-150;
  @extend %dmsans-700;
  line-height: 1.2;
  margin-bottom: 30px;
  overflow: hidden;
  transition: box-shadow 0.5s;
  position: relative;
  z-index: 0;

  @media (max-width: $screen-md) {
    width: 45%;
    max-width: 400px;
  }

  @media (max-width: $screen-sm) {
    width: 100%;
  }

  &:hover {
    box-shadow: 0px 5px 10px 2px rgba($blue-600, 0.3);
  }

  &:active {
    background-color: $blue-50;
  }

  &__link {
    padding: 43px 38px;
    width: 100%;
    height: 100%;
  }

  &__name {
    display: block;
    max-width: 172px;
    font-size: 20px;
    color: $grey-900;
    margin-bottom: 12px;
  }

  &__style {
    color: $blue-100;
  }

  &__img {
    position: absolute;
    max-width: 300px;
    max-height: 200px;
    right: 0;
    bottom: 20px;
    object-fit: contain;
    z-index: -1;

    &--full {
      right: 30px;
      bottom: 30px;
    }
  }
}