.offers {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $screen-lg) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 150px;
  }

  @media (max-width: $screen-sm) {
    padding-top: 20px;
    row-gap: 90px;
  }
}

.offer-card {
  width: 49%;
  min-height: 390px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($accent, 0.4);

  @media (max-width: $screen-lg) {
    max-width: 850px;
    width: 100%;
  }

  @media (max-width: $screen-sm) {
    padding: 20px 40px;
    flex-direction: row-reverse;
  }

  @media (max-width: $screen-xs) {
    min-height: auto;
    flex-direction: column;
    padding-bottom: 40px;
  }

  &__img {
    max-width: 235px;
    max-height: 405px;
    object-fit: contain;
    margin-top: -180px;

    @media (max-width: $screen-sm) {
      max-width: 150px;
      margin-top: 0px;
    }

    @media (max-width: $screen-xs) {
      margin-top: -80px;
      max-width: 120px;
      margin-bottom: 20px;
    }
  }

  &__content {
    max-width: 330px;
    padding-left: 35px;
    color: $blue-400;

    @media (max-width: $screen-sm) {
      max-width: 400px;
      width: 100%;
      padding-left: 0;
      padding-right: 30px;
    }

    @media (max-width: $screen-xs) {
      text-align: center;
      padding-right: 0;
    }
  }

  &__name {
    display: block;
    @extend %dmsans-700;
    font-size: 26px;
    margin-bottom: 15px;

    @media (max-width: $screen-sm) {
      font-size: 22px;
    }

    @media (max-width: $screen-xs) {
      font-size: 20px;
    }
  }

  &__descr {
    margin-bottom: 30px;
  }
}