.partners {
  padding: 90px 0;
  background-color: rgba($accent, 0.2);

  @media (max-width: $screen-xs) {
    padding: 40px 0;
  }

  &__item {
    min-height: 85px;
    display: flex !important;
    flex-direction: column;
  }

  &__img {
    margin: auto;
  }
}