.terms {
  padding-top: 120px;

  h3 {
    font-size: 24px;
    font-weight: 500;
    color: $blue-400;
    margin-bottom: 30px;
  }

  p {
    color: $blue-400;
    margin-bottom: 30px;
  }

  ol {
    margin-left: 25px;
  }
}