.aside {
  min-width: 270px;
  position: relative;

  @media (max-width: $screen-md) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    background-color: #fff;
    box-shadow: 0px 5px 10px 2px rgba($blue-600, 0.3);
    padding: 80px 20px 20px;
    overflow: auto;
    transform: translateX(-200%);
    z-index: 99;
    transition: transform 0.5s;
  }

  @media (max-width: $screen-sm) {
    width: 50%;
  }

  @media (max-width: $screen-xs) {
    width: 100%;
  }

  &--active {
    transform: translateX(0);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 55px;
    }
  }

  &__title {
    display: inline-block;
    padding-right: 56px;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 1.2;
    color: $blue-400;
    text-transform: uppercase;
    margin-bottom: 25px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 39px;
      height: 3px;
      background-color: $blue-100;
      border-radius: 1px;
    }
  }

  &__close {
    display: none;

    @media (max-width: $screen-md) {
      display: block;
      position: absolute;
      width: 45px;
      height: 45px;
      right: 10px;
      top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      box-shadow: 0px 2px 10px 1px rgba(34, 60, 80, 0.2);
      fill: $blue-200;
    }
  }
}

.catalog-filter {
  &__label {
    max-width: 270px;
    cursor: pointer;
    display: block;
    padding: 9px 20px;
    color: $blue-400;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba($grey-50, 0.2);
    }

    &:after {
      content: '>';
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__checkbox:checked {
    +.catalog-filter__label {
      background-color: rgba($blue-100, 0.2);
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $blue-400;
  }

  &__name {
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--brand {
    .catalog-filter__label {
      display: flex;
      justify-content: space-between;

      &::after {
        display: none;
      }
    }
  }
}

.aside-btn {
  display: none;

  @media (max-width: $screen-md) {
    display: flex;
  }
}

.search-form {
  position: relative;

  &__input {
    width: 100%;
    height: 43px;
    padding: 0 60px 0 10px;
    border: 1px solid $grey-200;
    border-radius: 5px;
    transition: border-color 0.5s;

    &:hover {
      border-color: $blue-100;
    }

    &:active {
      border-color: $accent;
    }

    &:focus {
      border-color: $blue-200;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 43px;
    line-height: 50px;
    background-color: $grey-200;
    border-radius: 5px;
    fill: $blue-350;
    transition: all 0.5s;

    &:hover {
      background-color: $blue-100;
      fill: #fff;
    }

    &:active {
      background-color: $accent;
      fill: #fff;
    }

    &:focus {
      background-color: $blue-200;
      fill: #fff;
    }
  }
}

.irs--flat .irs-line {
  top: 0;
  height: 3px;
  background-color: rgba($blue-100, 0.65);
  border-radius: 1px;
}

.irs--flat .irs-handle {
  top: -6px;
  width: 15px;
  height: 15px;
  background-color: $blue-100;
  cursor: pointer;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 0;
  height: 4px;
  background-color: $blue-100;
  border-radius: 0.4px;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}