<section class="blog-list">
  <div class="container">
    <h2 class="blog-list__title title">Our Insights & Articles</h2>
    <a class="blog-list__link" href="#">
      View All
      <span class="blog-list__link--icon">></span>
    </a>

    <div class="blog-list__wrap">
      <article class="blog-article">
        <img class="blog-article__img" src="images/blog/blog-1.jpg" alt="bedroom interior">
        <div class="blog-article__content">
          <a class="blog-article__cat" href="#">News</a>
          <a class="blog-article__link" href="#">
            <h3 class="blog-article__title">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</h3>                
          </a>
          <div class="blog-article__info">
            <span class="blog-article__date">28 january, 2020</span>
            <a class="blog-article__author" href="#">By admin</a>
          </div>
        </div>
      </article>

      <article class="blog-article">
        <img class="blog-article__img" src="images/blog/blog-2.jpg" alt="living room interior">
        <div class="blog-article__content">
          <a class="blog-article__cat" href="#">News</a>
          <a class="blog-article__link" href="#">
            <h3 class="blog-article__title">Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</h3>     
          </a>
          <div class="blog-article__info">
            <span class="blog-article__date">28 january, 2020</span>
            <a class="blog-article__author" href="#">By admin</a>
          </div>
        </div>
      </article>

      <article class="blog-article">
        <img class="blog-article__img" src="images/blog/blog-3.jpg" alt="living room interior design">
        <div class="blog-article__content">
          <a class="blog-article__cat" href="#">News</a>
          <a class="blog-article__link" href="#">
            <h3 class="blog-article__title">Rncididunt ut labore et dolore magna aliqua. Ut enim</h3>
          </a>
          <div class="blog-article__info">
            <span class="blog-article__date">28 january, 2020</span>
            <a class="blog-article__author" href="#">By admin</a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>