<div class="partners">
  <div class="container">
    <ul class="partners__list">
      <li class="partners__item">
        <img class="partners__img" src="images/partners/logo_partner-1.png" alt="stefanie peterson logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="images/partners/logo_partner-2.png" alt="kmn consulting logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="images/partners/logo_partner-3.png" alt="chainforce logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="images/partners/logo_partner-4.png" alt="nextg3n logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="images/partners/logo_partner-5.png" alt="vintage logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="images/partners/logo_partner-1.png" alt="stefanie peterson logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="images/partners/logo_partner-2.png" alt="kmn consulting logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="images/partners/logo_partner-3.png" alt="chainforce logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="images/partners/logo_partner-4.png" alt="nextg3n logo">
      </li>
      <li class="partners__item">
        <img class="partners__img" src="images/partners/logo_partner-5.png" alt="vintage logo">
      </li>
    </ul>
  </div>
</div>