<article class="product">
  <img class="product__img" src="@@img" alt="square armchair">
  <ul class="product__actions">
    <li class="product__actions-item">
      <a class="product__actions-btn" href="#" title="view details"> 
        <svg height="21" width="21">
          <use xlink:href="images/sprite.svg#search-product"></use>
        </svg>
      </a>
    </li> 

    <li class="product__actions-item">
      <button class="product__actions-btn" type="button">
        <span class="sr-only">add to cart</span>
        <svg height="21" width="23">
          <use xlink:href="images/sprite.svg#cart-product"></use>
        </svg>
      </button>
    </li> 

    <li class="product__actions-item">
      <button class="product__actions-btn" type="button">
        <span class="sr-only">add to wishlist</span>
        <svg height="19" width="23">
          <use xlink:href="images/sprite.svg#heart-product"></use>
        </svg>
      </button>
    </li> 
  </ul>

  <h3 class="product__name">@@name</h3>
  <span class="product__price">
    <span class="product__currency">$</span>29.00
  </span>
</article>